<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.hnatiuk.android.samples">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/Theme.AndroidSamples">
        <activity
            android:name="dev.hnatiuk.android.samples.navigation.complexsample.pages.main.MainNavigationActivity"
            android:exported="false" />
        <activity
            android:name="dev.hnatiuk.android.samples.navigation.complexsample.splash.SplashNavigationActivity"
            android:exported="false" />
        <activity
            android:name="dev.hnatiuk.android.samples.navigation.simplesample.SimpleNavigationSampleActivity"
            android:exported="false" />
        <activity
            android:name="dev.hnatiuk.android.samples.navigation.NavigationSampleActivity"
            android:exported="false" />
        <activity
            android:name="dev.hnatiuk.android.samples.overlay.OverlayActivity"
            android:exported="false" />
        <activity
            android:name="dev.hnatiuk.android.samples.compose.ComposeActivity"
            android:exported="false" />
        <activity
            android:name="dev.hnatiuk.android.samples.course.CourseComposeActivity"
            android:exported="false" />
        <activity
            android:name=".EntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.hnatiuk.android.samples.screencapture.ScreenCaptureActivity"
            android:exported="true" />

        <service
            android:name="dev.hnatiuk.android.samples.screencapture.lib.internal.ScreenCaptureService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>