<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.hnatiuk.compose_bookshelf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name="dev.hnatiuk.android.samples.compose_bookshelf.presentation.core.BooksShelfApplication">

        <activity
            android:name="dev.hnatiuk.android.samples.compose_bookshelf.presentation.pages.main.BookShelfActivity"
            android:exported="true"
            android:label="@string/title_activity_book_shelf"
            android:theme="@style/Theme.AndroidSamples" />

    </application>

</manifest>